{% extends 'aapMaster.html' %}
{% load static %}

{% block title %}
<title>AAP Home</title>
{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'aapHome.css' %}">
{% endblock %}

{% block content %}
<div class="innerDiv">
    <h1>Welcome to AAP Home Page</h1>

    <div class="container" id="sessionDiv">
        <div class="row">
            <div class="col-5">
                <label for="session_details"><b>SESSION</b></label>
            </div>
            <div class="col-7">
                {% csrf_token %}
                <select name="session_details" id="session_details">
                    <option value="-1">Select Session Details</option>
                    {% for item in session_details %}
                    <!-- {{ forloop.counter }}: {{ item }} -->
                    <option value="{{item.session_id}}">{{item.session_term}}+{{item.session_year}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>   
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12" id="session_title">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row" id="course_list">
            <div class="col d-flex justify-content-center">
               <button class="courseBtn" id="">
                <div class="text-center">
                    Major Project
                </div>
               </button>
            </div>

            <div class="col d-flex justify-content-center">
                <button class="courseBtn" id="">
                 <div class="text-center">
                     Major Project
                 </div>
                </button>
             </div>

             <div class="col d-flex justify-content-center">
                <button class="courseBtn" id="">
                 <div class="text-center">
                     Major Project
                 </div>
                </button>
             </div>
        </div>
    </div>

    <div class="testing" style="height: 5000px;background-color: brown;">
        {{conn}}
    </div>
</div>
{% endblock %}

{% block custom_js %}
<script src="{% static 'aapHome.js' %}"></script>
{% endblock %}